<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property
            name="CONSOLE_LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- [%20thread] [%blue(%36X{RequestId})] [%15X{IP}] %green(%-60.60c{42}) : %msg%n"
    />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
