<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnyte.election.api.mapper.ElectionMapper">

    <!-- 表名称 -->
    <sql id="table_name">
        t_candidate
    </sql>

    <!-- 数据库所有字段 -->
    <sql id="all_field" >
        id,
        nickname,
        create_time,
        modified_time,
        deleted
    </sql>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into
        <include refid="table_name" />    ( <include refid="all_field" /> )
        values (
            null,
            #{item.nickname},
            #{item.createTime},
            #{item.modifiedTime},
            #{item.deleted}
        )
    </insert>

    <update id="updateById">
        update <include refid="table_name" />
        set
        nickname = #{item.nickname},
        create_time = #{item.createTime},
        modified_time = #{item.modifiedTime},
        deleted = #{item.deleted}
        where id = #{item.id}
    </update>

    <select id="selectById" resultType="com.bnyte.election.api.entity.Candidate">
        select <include refid="all_field" /> from <include refid="table_name" /> where id = #{id}
    </select>

    <select id="selectWithNickname" resultType="com.bnyte.election.api.entity.Candidate">
        select <include refid="all_field" /> from <include refid="table_name" /> where nickname = #{nickname}
    </select>
</mapper>